:root {
  --main-green: #495E47;
  --main-yellow: #F4CE14;
  --main-salmon: #EE9972;
  --secondary-salmon: #FBDABB;
  --secondary-white: #EDEFEE;
  --secondary-grey: #333333;
  --page-width: 375px;
  --primary-text: "Markazi Text", serif;
  --secondary-text: "Karla", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
}

img {
  max-width: 100%;
}

section {
  margin-top: 3rem;
}

/* Layout */
.container {
  max-width: var(--page-width);
  margin: 0 auto;
}

.row {
  display: flex;
}

.col {
  width: 100%;
}

.rounded {
  border-radius: 16px;
}

/* ! Typography */

.display-title {
  font-family: var(--primary-text);
  font-size: 4rem;
  font-weight: 500;
}

.sub-title {
  font-family: var(--primary-text);
  font-size: 2.5rem;
  font-weight: 400;
}

.lead-text {
  font-family: var(--secondary-text);
  font-size: 1.125rem;
  font-weight: 500;
}

.section-title {
  font-family: var(--secondary-text);
  font-size: 1.25rem;
  font-weight: 800;
}

.specials-category-text {
  font-family: var(--secondary-text);
  font-size: 1rem;
  font-weight: 800;
}

.card-title {
  font-family: var(--secondary-text);
  font-size: 1.125rem;
  font-weight: 700;
}

.paragraph-text {
  font-family: var(--secondary-text);
  font-size: 1rem;
  font-weight: 400;
  max-width: 65ch;
  line-height: 1.25;
}

.highlight-text {
  font-family: var(--secondary-text);
  font-size: 1rem;
  font-weight: 500;
}

.specials-heading {
  font-family: var(--primary-text);
  font-size: 3.437rem;
  font-weight: 600;
}

.specials-name-text {
  font-family: var(--primary-text);
  font-size: 1.5rem;
  font-weight: 600;
}

/* Nav Styles */

.nav-list {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: var(--secondary-grey);
}

/* Header Styles */
header {
  width: 100%;
  padding: 1rem;
}

nav {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-top: 1.15rem;
}

/* Hero */
.hero-section {
  background-color: #495E47;
  color: var(--secondary-white);
}

.hero-section > div {
  justify-content: space-between;
}

.hero-section h1 {
  color: var(--main-yellow);
  line-height: .8;
}

.hero-content {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

.hero-content button {
  align-self: flex-end;
}

.img-container {
  width: 50%;
  align-self: flex-start;
  position: relative;
  top: 25px;
}

/*Call to action button */
.cta-btn {
  background-color: var(--main-yellow);
  padding: 1.15rem 1.25rem;
  width: 150px;
  border: none;
}

/* Highlights */
.highlights-section {
  margin-top: 5rem;
  
}

.highlights-section div:first-of-type {
  flex-direction: column;
}

.highlights-heading {
  border: 3px solid black;
}

.highlights-heading h2 {
  border: 3px solid pink;
}

.cta-highlight {
  border: 3px solid pink;
}

/* ? Desktop Screens */
@media (min-width:900px) {
  /* :root {
    --page-width: 900px;
  }

  html {
    font-size: 16px;
  }
  header nav {
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .nav-item {

  } */
}