:root {
  --main-green: #495E47;
  --main-yellow: #F4CE14;
  --main-salmon: #EE9972;
  --secondary-salmon: #FBDABB;
  --secondary-white: #EDEFEE;
  --secondary-grey: #333333;
  --page-width: 850px;
  --primary-text: "Markazi Text", serif;
  --secondary-text: "Karla", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.page-container {
  max-width: var(--page-width);
  margin: 0 auto;
}

/* Fluid Images */
.image-container {
  width: 40%;
  overflow: hidden;
}

.splash-img {
  max-width: 20%;
  height: auto;
}

img {
  max-width: 100%;
  border-radius: 16px;
}

/* Layout */
.row {
  display: flex;
}

.col {
  width: 100%;
}

/* ! Typography */

.display-title {
  font-family: var(--primary-text);
  font-size: 4rem;
  font-weight: 500;
}

.sub-title {
  font-family: var(--primary-text);
  font-size: 2.5rem;
  font-weight: 400;
}

.lead-text {
  font-family: var(--secondary-text);
  font-size: 1.125rem;
  font-weight: 500;
}

.section-title {
  font-family: var(--secondary-text);
  font-size: 1.25;
  font-weight: 800;
}

.specials-category-text {
  font-family: var(--secondary-text);
  font-size: 1rem;
  font-weight: 800;
}

.card-title {
  font-family: var(--secondary-text);
  font-size: 1.125rem;
  font-weight: 700;
}

.paragraph-text {
  font-family: var(--secondary-text);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.highlight-text {
  font-family: var(--secondary-text);
  font-size: 1rem;
  font-weight: 500;
}

.specials-heading {
  font-family: var(--primary-text);
  font-size: 3.437rem;
  font-weight: 600;
}

.specials-name-text {
  font-family: var(--primary-text);
  font-size: 1.5rem;
  font-weight: 600;
}

/* Nav Styles */

.nav-list {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: var(--secondary-grey);
}

/* Header Styles */

header .header-nav {
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

header .nav-list {
  justify-content: flex-end;
  align-items: center;
}

header .nav-item {
  margin-left: 2rem;
}

/* ? Hero Styles */

.hero-section {
  width: 100%;
  background-color: var(--main-green);
}

.hero-container {
  position: relative;
  justify-content: space-between;
}

.hero-content {
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
}

.hero-heading {
  color: var(--main-yellow);
}

.hero-location,
.hero-description {
  color: var(--secondary-white);
}

.hero-container .image-container {
  position: relative;
  top:50px;
}

/* Special Cards */
.specials-container {
  margin-top: 3rem;
  display: flex;
  gap: 50px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.card-content {
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.card div {
  width: 100%;
  justify-content: space-between;
}
.card div + div {
  justify-content: flex-start;
}
.special-img {
  width: 100%;
  border-radius: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.delivery-icon {
  width: 30px;
  margin-left: 2rem;
}

/* Footer Styles */
footer {
  margin: 0 auto;
  background-color: var(--main-green);
}

footer nav {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 20px;
  justify-content: space-between;
}

footer .nav-item {
  margin-top: 5px;
}

/* Button Style */
.cta-btn {
  background-color: var(--main-yellow);
  padding: 1.15rem 1rem;
  width: 12.5rem; /* 200px */
  border: none;
  border-radius: 16px;
}

/* Media Queries */
@media screen and (max-width: 725px) {
  header .nav-list {
    flex-direction: column;
    align-items: flex-start;
  }

  header .nav-item {
    margin-left: 0;
  }
}

@media screen and (max-width: 925px) {
  /* nav,
  section,
  footer nav {
    margin: auto 20px;
  } */

  html {
    font-size: 14px;
  }
}
